<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>
</head>
<body>
    <h1>Veja agora nossos posts</h1>
    <ul>
        <% tasks.forEach(task => { %>
            <li>
                <article>
                    <a href="/post/<%= task.id %>">
                        <h2><%= task.title %></h2>
                    </a>
                </article>
            </li>
        <% }) %>
    </ul>
</body>
</html>